@import "./variables";

.fillerContainer {
  @include flexprop(column, center, center);
  .fillerWrapper {
    width: 100%;
    min-height: 40vh;
    position: relative;
    background: #fbfbfd;
    background: linear-gradient(
      180deg,
      rgba(251, 251, 253, 0.001),
      var(--m-mint-green) 90%
    );
    height: 50vh;
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    .bubble {
      position: absolute;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 10;
      opacity: 1;
    }
    .bubble:nth-child(1) {
      top: 20%;
      left: 20%;
      animation: animate 5s linear infinite;
    }
    .bubble:nth-child(2) {
      top: 60%;
      left: 80%;
      animation: animate 10s linear infinite;
    }
    .bubble:nth-child(3) {
      top: 40%;
      left: 40%;
      animation: animate 5s linear infinite;
    }
    .bubble:nth-child(4) {
      top: 66%;
      left: 30%;
      animation: animate 7s linear infinite;
    }
    .bubble:nth-child(5) {
      top: 90%;
      left: 10%;
      animation: animate 9s linear infinite;
    }
    .bubble:nth-child(7) {
      top: 30%;
      left: 60%;
      animation: animate 5s linear infinite;
    }
    .bubble:nth-child(6) {
      top: 90%;
      left: 70%;
      animation: animate 10s linear infinite;
    }
    .bubble:nth-child(8) {
      top: 80%;
      left: 50%;
      animation: animate 6s linear infinite;
    }
    @keyframes animate {
      0% {
        opacity: 0;
        transform: scale(0) translateY(0);
      }

      100% {
        opacity: 1;
        transform: scale(1) translateY(-250px);
      }
    }
  }
}

@media (max-width: 600px) {
  .fillerContainer .fillerWrapper .bubble {
    height: 2rem;
    width: 2rem;
  }
}