@import "./variables";

.fillContainer {
  @include flexprop(column, center, center);
  .fillWrapper {
    margin: 100px auto;
    width: 40vw;
    height: 40vw;
    position: relative;
    text-align: center;

    -webkit-animation: rotate 15s infinite linear;
    animation: rotate 15s infinite linear;

    .dot1,
    .dot2 {
      width: 15rem;
      height: 15rem;
      border-radius: var(--blob-border-radius);
      background: var(--s-rainbow-linear-gradient);
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;

      -webkit-animation: bounce 10s infinite ease-in-out;
      animation: bounce 10s infinite ease-in-out;
    }

    .dot2 {
      top: auto;
      bottom: 0;
      -webkit-animation-delay: -1.8s;
      animation-delay: -1.8s;
    }
  }
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}
