@import "./_variables";

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-light;
  color: var(--font-color-lt-mode);
}

h1 {
  font-size: var(--font-heading);
  font-weight: 700;
}

h3 {
  font-size: var(--font-subheading);
  font-weight: 700;
}

.container {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 18vw;
  }
  h3 {
    font-size: 9.5vmin;
  }
}

